// Utility Mixins --------------------------------------

/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@function unitlessLineHeight($fontSize, $lineHeightTarget) {
  $lineHeightRatio: $lineHeightTarget/$fontSize;
  @return strip-unit( $lineHeightRatio); // defined in utilities/_util-functions-mixins.scss
}


// Vertical Rhythm Unit for spacing.
@function vr($units: 1) {
  $pxSize: $bodyLineHeight * $units;
  $unitlessSize: strip-unit($pxSize);
  $remEquiv: #{$unitlessSize/16}rem;
  @return $remEquiv;
}